.slider-item {
  padding: 10px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.slider-item img {
  border-radius: 50%;
  width: 160px !important;
  height: 160px !important;
  object-fit: cover;
  transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.slick-center img {
  filter: none; /* No blur for centered slides */
  opacity: 1;
}
.slick-center .shadow {
  width: 0 !important;
  height: 0 !important;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
  background-color: #0000007d;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.slick-slide .shadow {
  width: 160px;
  height: 160px;
  top: 10px;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  background-color: #0000007d;
}
/* Ensure slick-slide class respects your custom width */
.value-slider .slick-slide {
  display: flex !important;
  justify-content: center;
  padding: 0 !important;
  margin: 0 !important;
}
.value-slider .slick-slide.slick-active .sider-itemisRightSlide {
  width: 100% !important;
}
.value-slider .slick-slide.slick-active .sider-itemisCenterSlide {
  width: 70% !important;
}
.value-slider .slick-slide.slick-active .sider-itemisLeftSlid {
  width: 50% !important;
}
.value-slider .slick-slide > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.value-slider .slick-slide.slick-active {
  width: auto !important;
  max-width: 400px;
  min-width: 100px;
  height: 347px !important;
}
.value-slider .slick-slide.slick-active.slick-center.slick-current {
  width: auto !important;
  height: 347px !important;
}
.culture .slick-slide.slick-active.slick-center.slick-current {
  height: 97px !important;
}
.culture .slider-item .culture-image img {
  width: 56px !important;
  height: 56px !important;
}
